/*
 * Barlow Semi Condensed
 * Source Sans Pro
 * DM Sans
 * DM Serif Display
 */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=DM+Serif+Display:ital@0;1&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply font-body;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-serif;
	}

	input:focus, textarea:focus, button:focus, select:focus {
		@apply outline-none;
	}

	/* Change the white to any color */
	input:-webkit-autofill,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 30px rgba(0,0,0,0) inset !important;
	}
}

@layer components {
	.heading-style {
		@apply font-display uppercase;
	}

	.layer {
		@apply absolute w-full h-full left-0 top-0;
	}

	#baseLayout .page-heading {
		@apply font-display uppercase text-4xl font-bold text-slate-800 tracking-wider;
	}

	.card {
		@apply rounded-2xl lg:rounded;
	}

	.card:not(.card-unshadow) {
		@apply shadow;
	}

	.card:not(.card-unpadding-x) {
		@apply px-4;
	}

	.card:not(.card-unpadding-y) {
		@apply py-4;
	}
}